*, * ::before, *::after { 
    box-sizing: inherit;
}

html { 
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(./assets/bg.jpg);
    margin:0px;    
    background-size:cover;
}

ul{
    padding: 0;
}
#container{
    width: 800px;
    margin:0 auto;
}
header { width: auto;
height: auto;}

ul li {list-style: none;}

li a {text-decoration: none;}

p { padding: 0;
    margin: 0;
    }

/* menu bar */

.topmenubar {display: flex none;}

.subscribebar {display: flex none};

.subscribebar ul {display: flex none;}

ul .subscribe {display: flex;}

#subscribe button p {font-size: 15px;
    margin: 0;}

#subscribe button {background: red;
    height: 25px; display: flex none;
    border: 0;
    background: none;  
    }

.squares {font-size: 45px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;}
    
    #FB, #RSS, #YT, #T {box-shadow:1px 2.5px  #919191;
    padding: 0; margin: 1.5px}
    
    #VD { padding: 0;
    margin: 1.5px;
    background-color: none;}
    
    #FB {color: #465993;
    background-color: #7481af;
    border-radius: 15px;
    border-radius: top 20px;
    }
    
    #RSS {color: #c49045;
    background-color: #d1af74;
    border-radius: 15px;
    border-radius: top 20px;
    }
    
    #YT {
    color: #a63f33;
    background-color: #bb6b64;
    border-radius: 15px;
    border-radius: top 20px;}
    
    #T {
    color: #6f8dc2;
    background-color: #93a8d0;
    border-radius: 15px;
    border-radius: top 20px;
}

.navigationbar nav {display: flex none;  
    
}

.navbar { color: white; 
    text-align: center; 
    font-style: bold; 
    width: auto;
    display: flex;
    justify-content: center;
}
    
.navbar li {width: 180px;
    height: 30px;
    background-color: #a73534;
    margin: 5px;
    box-shadow: 1px 2.5px #919191; 
    padding-top: 5px ;
}

/* menu bar */

/* image */

.mainImage {display: flex;
justify-content: center;}

.mainImageGrid {
    background-image: url("./assets/top-image.png");
    margin: 0px;
    z-index: 1;
    width: 80%;
    border: solid 5px white;

} 

.logo{
    margin-top:20px;
    bottom: 30px;
    top:125px;
    padding: 45px 10px; 
    position: absolute;
    z-index: 2;
    left:150px
}

/* image */

div.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    width:1000px;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraphP {display: flex;
justify-content: center;}

.paragraphs{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.paragraph2 {
    margin-left: 10px;
    margin-right: 10px;
}

.paragraph3{
    margin-right:0px;
    display:flex;
    flex-direction: column;
}

.round{
    width:12px;
    height:12px;
    background-color: white;
    border-radius: 50%;
    margin:8px;
}

.topButtons{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paragraph1, .paragraph2, .paragraph3{
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-around;
    padding: 20px;
    background-color:white;
    box-shadow: 0px 5px rgba(255,255,255,0.3);
}

.headline{
 font-size:24px;
}

.date{
    font-size: 14px;
    color:#ccc;  
}

.ptext{
    font-size:12px;
    line-height:20px;
}

.readmore{
    text-align: center;
    font-size:14px;
    color:rgb(169,39,44);    
}

/* people grid */

.Grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "head-image1 head-image2 aside-image" "footer-image footer-image aside-image";
    gap:10px;
    margin-top: 30px;
    width: 80%;
    height: 475px;
    color:white;
    font-size: 40px;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 30px;
    
}

/* People grid */

.gimage2{
    display:grid;
    align-items: center;
    background-image: url(./assets/sk8er-3.png);
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: 150%;
    grid-area: head-image2;
    background-position-x: -10px;
    background-position-y: -10px;
}

.gimage1{
    display:grid;
    align-items: center;
    background-image:url(./assets/sk8er-4.png);
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: 160%;
    grid-area: head-image1;
    background-position-x: -180px;
    background-position-y: -15px;

}

.gimage3{
    display:grid;
    align-items: center;
    background-image: url(./assets/sk8er-2.png);
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: 270%;
    grid-area: aside-image;
    background-position-x: -420px;
    background-position-y: 0px;
}

.gimage4{
    display:grid;
    align-items: center;
    background-image: url(./assets/sk8er-1.png);
    border: 5px solid white;
    background-repeat: no-repeat;
    background-size: 110%;
    grid-area: footer-image;
    background-position-x: -2px;
    background-position-y: -100px;
}

/* Footer */

.skateboards {

    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right:10%;
    background: white;
}

.skateboards img {width: 200px;
padding: 15px;}

.footer-content{
    display: flex;
    margin-top:20px;
    background-color:white;
    justify-content: space-around;
    padding:10px;
    height:400px;
    padding-bottom: 100px;
    margin-bottom:100px;
    box-shadow: 0px 5px rgba(255,255,255,0.3);
}

.endtext1, .endtext2{
    display:flex;
    flex-direction: column;
}

.endtext1{
    width:500px;
    line-height:30px;
    margin-right:20px;
    padding-bottom: 0px;
}

.endtext2{
    margin-left:20px;
    padding-right: 20px;
    margin-top:5px;
}

.footer-1{
    font-size: 30px;
    margin-bottom: 0px;
    margin-top:15px;
}


.icons2{
display: flex;
align-items: center;
}

.facebook, .rss, .twitter, .youtube{
    height:50px;
    width:50px;
    background-color: #ccc;
    color: white;
    font-size:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.rss, .twitter, .youtube{
    margin-left:5px;
}

.facebook{
    background-color: gray;
    display:flex;
    align-items: center;
    justify-content: center;

}
.rss{
    background-color: gray;
}
.twitter{
    background-color: gray;
}
.youtube{
    background-color: gray;
}

form{
width:400px;
padding-top:20px;
margin-top:5px;
display: grid;
}

input{
    margin-bottom: 15px;
    font-size: 14px;
    padding:5px;
    border-top:4px solid #ccc;
    border-left:4px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}


textarea{
    height:150px;
    font-size: 14px;
    padding:5px;
    border-top:4px solid #ccc;
    border-left:4px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

button{
    width:130px;
    height:30px;
    background-color: rgb(169,39,44);
    color:white;
    outline:none;
    margin:-1px;
}

.submit {
    margin-top:20px;
    display: flex;
    justify-content: flex-end;
}

/* footer */
   
